# ðŸ—„ NLI name frequency count

## 1. Gomu Names in NLI dataset

In [209]:
gomu_occupations = json.load(open("../data/keywords/occupations.json"))
len(gomu_occupations)

145

In [205]:
with open("occupations.csv", 'r') as f:
    total_occupations = []
    for line in f.readlines():
         total_occupations.append(line.strip())

In [207]:
len(total_occupations)

1156

In [125]:
with open("../template_experiments/keywords/names.csv", 'r') as f:
    total_names = []
    for line in f.readlines()[1:]:
#         import ipdb; ipdb.set_trace()
        line = line.strip().split(',')
        name = dict()
        name['name'] = line[0]
        name['gender'] = line[1]
        name['race'] = line[2]
        total_names.append(name)

In [126]:
len(total_names)

372

In [127]:
total_names[0]

{'name': "A'deem", 'gender': 'male', 'race': 'none'}

In [128]:
total_names_list = [n['name'] for n in total_names]

In [14]:
# load mnli train data
with open('../data/MNLI/original/multinli_1.0_train.jsonl') as f:
    json_list = list(f)
    mnli_train = []
    for json_str in json_list:
        result = json.loads(json_str)
        mnli_train.append(result)
len(mnli_train)

392702

In [15]:
mnli_data = []
SEP = ' [SEP] '
for m in mnli_train:
    sent = m['sentence1'] + SEP + m['sentence2']
    mnli_data.append(sent)
mnli_data[0]

'Conceptually cream skimming has two basic dimensions - product and geography. [SEP] Product and geography are what make cream skimming work. '

In [16]:
# load snli train data
with open('../data/SNLI/snli_1.0_train.jsonl') as f:
    json_list = list(f)
    snli_train = []
    for json_str in json_list:
        result = json.loads(json_str)
        snli_train.append(result)
len(snli_train)

550152

In [17]:
snli_data = []
SEP = ' [SEP] '
for m in snli_train:
    sent = m['sentence1'] + SEP + m['sentence2']
    snli_data.append(sent)
snli_data[0]

'A person on a horse jumps over a broken down airplane. [SEP] A person is training his horse for a competition.'

### Count names in MNLI

In [129]:
def count_name(data, names):
    name_count = dict()
    for n in names:
        name_count[n['name']] = 0
    for d in data:
        for n in names:
            if n['name'] in d:
                name_count[n['name']] = name_count.get(n['name'], 0) + 1
    return name_count

In [130]:
total_name_mnli = count_name(mnli_data, total_names)

In [131]:
total_name_snli = count_name(snli_data, total_names)

In [132]:
total_name_count = {}
for name in total_name_mnli.keys():
    total_name_count[name] = total_name_mnli[name] + total_name_snli[name]
total_name_count

{"A'deem": 129,
 'Aaron': 55,
 'Abigail': 0,
 'Adam': 170,
 'Adrin': 1139,
 'Aisha': 0,
 'Alan': 110,
 'Alexander': 225,
 'Alfred': 253,
 'Ally': 14,
 'Amhad': 1,
 'Amy': 60,
 'Andrew': 125,
 'Andy': 73,
 'Anita': 21,
 'Anna': 151,
 'Anne': 296,
 'Anse': 341,
 'Ashley': 15,
 'Bai': 169,
 'Barbara': 71,
 'Becky': 8,
 'Ben': 1223,
 'Benjamin': 121,
 'Benny': 19,
 'Beth': 100,
 'Betty': 78,
 'Beyonce': 2,
 'Biff': 3,
 'Bill': 855,
 'Billy': 104,
 'Bob': 621,
 'Boris': 163,
 'Brad': 400,
 'Bradford': 6,
 'Brady': 24,
 'Brayden': 0,
 'Brenda': 13,
 'Brent': 31,
 'Brian': 73,
 'Brittany': 94,
 'Brown': 950,
 'Burr': 39,
 'Cadaan': 1,
 'Cadan': 0,
 'Cal': 2024,
 'Camille': 6,
 'Candace': 12,
 'Candice': 1,
 'Candy': 53,
 'Carl': 292,
 'Carla': 6,
 'Carlos': 88,
 'Carly': 25,
 'Carol': 384,
 'Carrie': 40,
 'Cathy': 12,
 'Cazar': 252,
 'Celia': 0,
 'Chan': 712,
 'Chang': 366,
 'Chang Lee': 0,
 'Charlene': 0,
 'Charles': 416,
 'Charlie': 93,
 'Chen': 116,
 'Chen Lang': 0,
 'Chen Wee': 0,
 'Chen Wu': 0,
 'Cheryl': 6,
 'Chin Pang': 0,
 'Chong Ling': 0,
 'Cindy': 30,
 'Claire': 10,
 'Cody': 3,
 'Cole': 113,
 'Connor': 33,
 'Corey': 1,
 'Craig': 65,
 'Cynthia': 333,
 "D'quan": 0,
 'Dale': 34,
 'Dan': 1034,
 'Daniel': 328,
 'Danny': 41,
 'Dave': 713,
 'David': 856,
 'Dawn': 14,
 'Dawson': 31,
 'DeAndre': 0,
 'Denny': 17,
 'DeShawn': 0,
 'Diamond': 53,
 'Donald': 529,
 'Drew': 1237,
 'Dustin': 23,
 'Dylan': 47,
 'Earl': 264,
 'Ebony': 0,
 'Ed': 1719,
 'Eddie': 39,
 'Edith': 27,
 'Edward': 246,
 'Ellen': 44,
 'Emily': 83,
 'Eric': 68,
 'Erica': 1,
 'Erik': 15,
 'Essex': 40,
 'Ethan': 7,
 'Eugene': 30,
 'Fabioloa': 0,
 'Feng Wu': 0,
 'Flora': 9,
 'Fowler': 48,
 'Fred': 174,
 'Gabriel': 133,
 'Gary': 81,
 'George': 929,
 'Grace': 57,
 'Greg': 74,
 'Greta': 9,
 'Greuze': 222,
 'Gus': 41,
 'Harold': 49,
 'Heather': 19,
 'Henderson': 22,
 'Hunt': 338,
 'Hunter': 46,
 'Inglethorp': 913,
 'Jack': 539,
 'Jackson': 238,
 'Jacob': 186,
 'Jacques': 45,
 'Jacqui': 0,
 'Jafari': 0,
 'Jake': 15,
 'Jaleel': 0,
 'Jamal': 0,
 'Jamel': 0,
 'James': 1067,
 'Jamie': 21,
 'Jane': 600,
 'Janet': 91,
 'Janice': 1,
 'Jason': 20,
 'Javier': 7,
 'Jed': 39,
 'Jeff': 195,
 'Jeffrey': 36,
 'Jen': 304,
 'Jenna': 5,
 'Jennifer': 41,
 'Jenny': 12,
 'Jeremy': 11,
 'Jerome': 24,
 'Jerry': 137,
 "Jessica's": 0,
 'Jesus': 756,
 'Jill': 15,
 'Jim': 411,
 'Jimmy': 107,
 'Joan': 54,
 'Joanne': 0,
 'Joe': 270,
 'Joey': 11,
 'John': 2516,
 'Johnathan': 0,
 'Johnny': 266,
 'Jon': 2821,
 'Jones': 344,
 'Joo-Lin': 0,
 'Jorge': 15,
 'Jose': 266,
 'Joseph': 183,
 'Josh': 30,
 'Joxer': 0,
 'Joyce': 81,
 'Juan': 214,
 'Judy': 52,
 'Julie': 83,
 'Juliette': 0,
 'Julius': 985,
 'Kacey': 0,
 'Kariem': 0,
 'Kassandra': 12,
 'Kassidy': 0,
 'Kate': 30,
 'Katherine': 34,
 'Kathy': 24,
 'Katie': 3,
 'Kelly': 92,
 'Kelsi': 0,
 'Kenny': 24,
 'Kevin': 69,
 'Kia': 9,
 'Kim': 106,
 'King': 1429,
 'Kirby': 198,
 'Kristy': 2,
 'Kurt': 25,
 'Kwame': 0,
 'Kyle': 18,
 'Lamar': 45,
 'Lance': 31,
 'Laquan': 0,
 'Laquisha': 0,
 'Lara': 4,
 'Lars': 6,
 'LaShawnda': 0,
 'Laura': 64,
 'Lawrence': 330,
 'Lea': 914,
 'LeBron': 9,
 'Lena': 4,
 'Leonard': 192,
 'LeShawn': 0,
 'Li': 6276,
 'Lily': 3,
 'Lisa': 76,
 'Liz': 32,
 'Lloyd': 32,
 'Lou': 1179,
 'Louis': 920,
 'Lucy': 49,
 'Lynn': 30,
 'Mack': 21,
 'Maggie': 10,
 'Malcolm': 51,
 'Malik': 0,
 'Manuel': 42,
 'Marcus': 84,
 'Marianne': 3,
 'Marie': 111,
 'Mark': 669,
 'Marquis': 19,
 'Martha': 83,
 'Martin': 654,
 'Marty': 33,
 'Mary': 979,
 'Mathew': 28,
 'Matt': 230,
 'Mattie': 0,
 'Maya': 45,
 'Megan': 6,
 'Meghan': 0,
 'Melissa': 13,
 'Michael': 613,
 'Micheal': 8,
 'Miguel': 10,
 'Mike': 147,
 'Ming': 30,
 'Missy': 0,
 'Mitchell': 49,
 'Mohammad': 3,
 'Molly': 15,
 'Monica': 398,
 'Monique': 0,
 'Muhammad': 46,
 'Naomi': 19,
 'Nell': 9,
 'Nia': 18,
 'Nick': 46,
 'Nina': 5,
 'Olga': 9,
 'Patricia': 31,
 'Patrick': 156,
 'Paul': 561,
 'Paula': 115,
 'Perth': 159,
 'Phoebe': 6,
 'Precious': 23,
 'Prescott': 3,
 'Priya': 0,
 'Rachel': 19,
 'Raegan': 0,
 'Ragesh': 0,
 'Raja': 114,
 'Rajeev': 0,
 'Ramirez': 6,
 'Ramon': 18,
 'Raven': 66,
 'Raymond': 15,
 'Richard': 534,
 'Robert': 771,
 'Roberta': 15,
 'Rocco': 6,
 'Ron': 228,
 'Ronald': 93,
 'Ronnie': 4,
 'Ruby': 22,
 'Russ': 1031,
 'Ryan': 67,
 'Sally': 39,
 'Sam': 627,
 'Samantha': 0,
 'Sammy': 25,
 'Sara': 196,
 'Sarah': 48,
 'Scott': 638,
 'Sergey': 0,
 'Seth': 25,
 'Shane': 15,
 'Shaniqua': 0,
 'Shannon': 177,
 'Shaquille': 0,
 'Sharon': 51,
 'Shawn': 15,
 'Shelly': 7,
 'Sheng Lee': 0,
 'Sherry': 18,
 'Shevon': 0,
 'Shiloh': 191,
 'Sidney': 36,
 'Silas': 0,
 'Simon': 218,
 'Soren': 3,
 'Spence': 34,
 'Stephen': 163,
 'Steve': 424,
 'Steven': 216,
 'Stewart': 107,
 'Sudeep': 0,
 'Sue': 62,
 'Susan': 540,
 'Susie': 3,
 'Tammy': 12,
 'Tanisha': 0,
 'Tarnisha': 0,
 'Tasha': 0,
 'Terrance': 4,
 'Terrell': 0,
 'Tessa': 0,
 'Thomas': 377,
 'Thorn': 499,
 'Tim': 2308,
 'Timmy': 9,
 'Tina': 58,
 'Tom': 2304,
 'Tommy': 1699,
 'Tony': 151,
 'Trevon': 0,
 'Treyvone': 0,
 'Tricia': 0,
 'Tuppence': 1723,
 'Tyler': 31,
 'Tyresse': 0,
 'Tyrone': 7,
 'Val': 1066,
 'Veronica': 32,
 'Vince': 83,
 'Vrenna': 320,
 'Wang': 3,
 'Wendy': 52,
 'Wesley': 10,
 'Will': 1194,
 'William': 565,
 'Won Lee': 0,
 'Won San Lee': 0,
 'Wong Chang': 0,
 'Wright': 76,
 'Yang Wang': 0,
 'Yolanda': 0,
 'Zack': 6,
 'Geraldo': 6,
 'Mario': 62,
 'Elena': 9,
 'Natalia': 243,
 'Adrian': 22,
 'Julian': 18,
 'Xavier': 24}

In [133]:
for name in total_names:
    name['count'] = total_name_count[name['name']]

In [134]:
total_names

[{'name': "A'deem", 'gender': 'male', 'race': 'none', 'count': 129},
 {'name': 'Aaron', 'gender': 'male', 'race': 'none', 'count': 55},
 {'name': 'Abigail', 'gender': 'female', 'race': 'white', 'count': 0},
 {'name': 'Adam', 'gender': 'male', 'race': 'none', 'count': 170},
 {'name': 'Adrin', 'gender': 'male', 'race': 'latinx', 'count': 1139},
 {'name': 'Aisha', 'gender': 'female', 'race': 'none', 'count': 0},
 {'name': 'Alan', 'gender': 'male', 'race': 'none', 'count': 110},
 {'name': 'Alexander', 'gender': 'male', 'race': 'none', 'count': 225},
 {'name': 'Alfred', 'gender': 'male', 'race': 'none', 'count': 253},
 {'name': 'Ally', 'gender': 'none', 'race': 'none', 'count': 14},
 {'name': 'Amhad', 'gender': 'male', 'race': 'none', 'count': 1},
 {'name': 'Amy', 'gender': 'female', 'race': 'white', 'count': 60},
 {'name': 'Andrew', 'gender': 'male', 'race': 'none', 'count': 125},
 {'name': 'Andy', 'gender': 'male', 'race': 'none', 'count': 73},
 {'name': 'Anita', 'gender': 'female', 'race': 'latinx', 'count': 21},
 {'name': 'Anna', 'gender': 'female', 'race': 'none', 'count': 151},
 {'name': 'Anne', 'gender': 'female', 'race': 'none', 'count': 296},
 {'name': 'Anse', 'gender': 'male', 'race': 'none', 'count': 341},
 {'name': 'Ashley', 'gender': 'female', 'race': 'none', 'count': 15},
 {'name': 'Bai', 'gender': 'female', 'race': 'asian', 'count': 169},
 {'name': 'Barbara', 'gender': 'female', 'race': 'none', 'count': 71},
 {'name': 'Becky', 'gender': 'female', 'race': 'none', 'count': 8},
 {'name': 'Ben', 'gender': 'male', 'race': 'none', 'count': 1223},
 {'name': 'Benjamin', 'gender': 'male', 'race': 'none', 'count': 121},
 {'name': 'Benny', 'gender': 'female', 'race': 'none', 'count': 19},
 {'name': 'Beth', 'gender': 'female', 'race': 'none', 'count': 100},
 {'name': 'Betty', 'gender': 'female', 'race': 'none', 'count': 78},
 {'name': 'Beyonce', 'gender': 'female', 'race': 'black', 'count': 2},
 {'name': 'Biff', 'gender': 'male', 'race': 'none', 'count': 3},
 {'name': 'Bill', 'gender': 'male', 'race': 'none', 'count': 855},
 {'name': 'Billy', 'gender': 'male', 'race': 'none', 'count': 104},
 {'name': 'Bob', 'gender': 'male', 'race': 'none', 'count': 621},
 {'name': 'Boris', 'gender': 'male', 'race': 'none', 'count': 163},
 {'name': 'Brad', 'gender': 'male', 'race': 'none', 'count': 400},
 {'name': 'Bradford', 'gender': 'male', 'race': 'none', 'count': 6},
 {'name': 'Brady', 'gender': 'male', 'race': 'none', 'count': 24},
 {'name': 'Brayden', 'gender': 'male', 'race': 'none', 'count': 0},
 {'name': 'Brenda', 'gender': 'female', 'race': 'none', 'count': 13},
 {'name': 'Brent', 'gender': 'male', 'race': 'none', 'count': 31},
 {'name': 'Brian', 'gender': 'male', 'race': 'none', 'count': 73},
 {'name': 'Brittany', 'gender': 'female', 'race': 'none', 'count': 94},
 {'name': 'Brown', 'gender': 'none', 'race': 'white', 'count': 950},
 {'name': 'Burr', 'gender': 'none', 'race': 'none', 'count': 39},
 {'name': 'Cadaan', 'gender': 'none', 'race': 'none', 'count': 1},
 {'name': 'Cadan', 'gender': 'male', 'race': 'white', 'count': 0},
 {'name': 'Cal', 'gender': 'male', 'race': 'none', 'count': 2024},
 {'name': 'Camille', 'gender': 'female', 'race': 'none', 'count': 6},
 {'name': 'Candace', 'gender': 'female', 'race': 'none', 'count': 12},
 {'name': 'Candice', 'gender': 'female', 'race': 'none', 'count': 1},
 {'name': 'Candy', 'gender': 'female', 'race': 'none', 'count': 53},
 {'name': 'Carl', 'gender': 'male', 'race': 'none', 'count': 292},
 {'name': 'Carla', 'gender': 'female', 'race': 'none', 'count': 6},
 {'name': 'Carlos', 'gender': 'male', 'race': 'latinx', 'count': 88},
 {'name': 'Carly', 'gender': 'female', 'race': 'white', 'count': 25},
 {'name': 'Carol', 'gender': 'none', 'race': 'none', 'count': 384},
 {'name': 'Carrie', 'gender': 'female', 'race': 'none', 'count': 40},
 {'name': 'Cathy', 'gender': 'female', 'race': 'none', 'count': 12},
 {'name': 'Cazar', 'gender': 'male', 'race': 'none', 'count': 252},
 {'name': 'Celia', 'gender': 'female', 'race': 'none', 'count': 0},
 {'name': 'Chan', 'gender': 'male', 'race': 'asian', 'count': 712},
 {'name': 'Chang', 'gender': 'none', 'race': 'asian', 'count': 366},
 {'name': 'Chang Lee', 'gender': 'male', 'race': 'asian', 'count': 0},
 {'name': 'Charlene', 'gender': 'female', 'race': 'none', 'count': 0},
 {'name': 'Charles', 'gender': 'male', 'race': 'none', 'count': 416},
 {'name': 'Charlie', 'gender': 'male', 'race': 'none', 'count': 93},
 {'name': 'Chen', 'gender': 'male', 'race': 'asian', 'count': 116},
 {'name': 'Chen Lang', 'gender': 'none', 'race': 'asian', 'count': 0},
 {'name': 'Chen Wee', 'gender': 'male', 'race': 'asian', 'count': 0},
 {'name': 'Chen Wu', 'gender': 'male', 'race': 'asian', 'count': 0},
 {'name': 'Cheryl', 'gender': 'female', 'race': 'none', 'count': 6},
 {'name': 'Chin Pang', 'gender': 'none', 'race': 'asian', 'count': 0},
 {'name': 'Chong Ling', 'gender': 'none', 'race': 'asian', 'count': 0},
 {'name': 'Cindy', 'gender': 'female', 'race': 'none', 'count': 30},
 {'name': 'Claire', 'gender': 'female', 'race': 'white', 'count': 10},
 {'name': 'Cody', 'gender': 'male', 'race': 'white', 'count': 3},
 {'name': 'Cole', 'gender': 'male', 'race': 'white', 'count': 113},
 {'name': 'Connor', 'gender': 'male', 'race': 'white', 'count': 33},
 {'name': 'Corey', 'gender': 'male', 'race': 'none', 'count': 1},
 {'name': 'Craig', 'gender': 'female', 'race': 'white', 'count': 65},
 {'name': 'Cynthia', 'gender': 'female', 'race': 'none', 'count': 333},
 {'name': "D'quan", 'gender': 'male', 'race': 'black', 'count': 0},
 {'name': 'Dale', 'gender': 'male', 'race': 'none', 'count': 34},
 {'name': 'Dan', 'gender': 'male', 'race': 'none', 'count': 1034},
 {'name': 'Daniel', 'gender': 'male', 'race': 'none', 'count': 328},
 {'name': 'Danny', 'gender': 'male', 'race': 'none', 'count': 41},
 {'name': 'Dave', 'gender': 'male', 'race': 'none', 'count': 713},
 {'name': 'David', 'gender': 'male', 'race': 'none', 'count': 856},
 {'name': 'Dawn', 'gender': 'female', 'race': 'none', 'count': 14},
 {'name': 'Dawson', 'gender': 'male', 'race': 'none', 'count': 31},
 {'name': 'DeAndre', 'gender': 'male', 'race': 'none', 'count': 0},
 {'name': 'Denny', 'gender': 'male', 'race': 'none', 'count': 17},
 {'name': 'DeShawn', 'gender': 'male', 'race': 'black', 'count': 0},
 {'name': 'Diamond', 'gender': 'female', 'race': 'black', 'count': 53},
 {'name': 'Donald', 'gender': 'male', 'race': 'none', 'count': 529},
 {'name': 'Drew', 'gender': 'male', 'race': 'none', 'count': 1237},
 {'name': 'Dustin', 'gender': 'male', 'race': 'white', 'count': 23},
 {'name': 'Dylan', 'gender': 'male', 'race': 'white', 'count': 47},
 {'name': 'Earl', 'gender': 'male', 'race': 'none', 'count': 264},
 {'name': 'Ebony', 'gender': 'female', 'race': 'black', 'count': 0},
 {'name': 'Ed', 'gender': 'male', 'race': 'none', 'count': 1719},
 {'name': 'Eddie', 'gender': 'male', 'race': 'none', 'count': 39},
 {'name': 'Edith', 'gender': 'female', 'race': 'none', 'count': 27},
 {'name': 'Edward', 'gender': 'male', 'race': 'none', 'count': 246},
 {'name': 'Ellen', 'gender': 'female', 'race': 'none', 'count': 44},
 {'name': 'Emily', 'gender': 'female', 'race': 'white', 'count': 83},
 {'name': 'Eric', 'gender': 'male', 'race': 'none', 'count': 68},
 {'name': 'Erica', 'gender': 'female', 'race': 'none', 'count': 1},
 {'name': 'Erik', 'gender': 'male', 'race': 'none', 'count': 15},
 {'name': 'Essex', 'gender': 'none', 'race': 'white', 'count': 40},
 {'name': 'Ethan', 'gender': 'male', 'race': 'none', 'count': 7},
 {'name': 'Eugene', 'gender': 'male', 'race': 'none', 'count': 30},
 {'name': 'Fabioloa', 'gender': 'female', 'race': 'none', 'count': 0},
 {'name': 'Feng Wu', 'gender': 'none', 'race': 'asian', 'count': 0},
 {'name': 'Flora', 'gender': 'female', 'race': 'none', 'count': 9},
 {'name': 'Fowler', 'gender': 'none', 'race': 'none', 'count': 48},
 {'name': 'Fred', 'gender': 'male', 'race': 'none', 'count': 174},
 {'name': 'Gabriel', 'gender': 'male', 'race': 'latinx', 'count': 133},
 {'name': 'Gary', 'gender': 'male', 'race': 'black', 'count': 81},
 {'name': 'George', 'gender': 'male', 'race': 'none', 'count': 929},
 {'name': 'Grace', 'gender': 'female', 'race': 'none', 'count': 57},
 {'name': 'Greg', 'gender': 'male', 'race': 'white', 'count': 74},
 {'name': 'Greta', 'gender': 'female', 'race': 'none', 'count': 9},
 {'name': 'Greuze', 'gender': 'none', 'race': 'white', 'count': 222},
 {'name': 'Gus', 'gender': 'male', 'race': 'none', 'count': 41},
 {'name': 'Harold', 'gender': 'male', 'race': 'none', 'count': 49},
 {'name': 'Heather', 'gender': 'female', 'race': 'white', 'count': 19},
 {'name': 'Henderson', 'gender': 'none', 'race': 'none', 'count': 22},
 {'name': 'Hunt', 'gender': 'none', 'race': 'none', 'count': 338},
 {'name': 'Hunter', 'gender': 'male', 'race': 'white', 'count': 46},
 {'name': 'Inglethorp', 'gender': 'none', 'race': 'white', 'count': 913},
 {'name': 'Jack', 'gender': 'male', 'race': 'white', 'count': 539},
 {'name': 'Jackson', 'gender': 'none', 'race': 'none', 'count': 238},
 {'name': 'Jacob', 'gender': 'male', 'race': 'white', 'count': 186},
 {'name': 'Jacques', 'gender': 'male', 'race': 'none', 'count': 45},
 {'name': 'Jacqui', 'gender': 'female', 'race': 'none', 'count': 0},
 {'name': 'Jafari', 'gender': 'male', 'race': 'none', 'count': 0},
 {'name': 'Jake', 'gender': 'male', 'race': 'white', 'count': 15},
 {'name': 'Jaleel', 'gender': 'male', 'race': 'none', 'count': 0},
 {'name': 'Jamal', 'gender': 'male', 'race': 'black', 'count': 0},
 {'name': 'Jamel', 'gender': 'male', 'race': 'black', 'count': 0},
 {'name': 'James', 'gender': 'male', 'race': 'none', 'count': 1067},
 {'name': 'Jamie', 'gender': 'male', 'race': 'none', 'count': 21},
 {'name': 'Jane', 'gender': 'female', 'race': 'none', 'count': 600},
 {'name': 'Janet', 'gender': 'female', 'race': 'none', 'count': 91},
 {'name': 'Janice', 'gender': 'female', 'race': 'none', 'count': 1},
 {'name': 'Jason', 'gender': 'male', 'race': 'none', 'count': 20},
 {'name': 'Javier', 'gender': 'male', 'race': 'latinx', 'count': 7},
 {'name': 'Jed', 'gender': 'male', 'race': 'none', 'count': 39},
 {'name': 'Jeff', 'gender': 'male', 'race': 'none', 'count': 195},
 {'name': 'Jeffrey', 'gender': 'male', 'race': 'none', 'count': 36},
 {'name': 'Jen', 'gender': 'female', 'race': 'none', 'count': 304},
 {'name': 'Jenna', 'gender': 'female', 'race': 'white', 'count': 5},
 {'name': 'Jennifer', 'gender': 'female', 'race': 'none', 'count': 41},
 {'name': 'Jenny', 'gender': 'female', 'race': 'none', 'count': 12},
 {'name': 'Jeremy', 'gender': 'male', 'race': 'none', 'count': 11},
 {'name': 'Jerome', 'gender': 'male', 'race': 'none', 'count': 24},
 {'name': 'Jerry', 'gender': 'male', 'race': 'none', 'count': 137},
 {'name': "Jessica's", 'gender': 'female', 'race': 'none', 'count': 0},
 {'name': 'Jesus', 'gender': 'male', 'race': 'latinx', 'count': 756},
 {'name': 'Jill', 'gender': 'female', 'race': 'none', 'count': 15},
 {'name': 'Jim', 'gender': 'male', 'race': 'none', 'count': 411},
 {'name': 'Jimmy', 'gender': 'male', 'race': 'none', 'count': 107},
 {'name': 'Joan', 'gender': 'female', 'race': 'none', 'count': 54},
 {'name': 'Joanne', 'gender': 'female', 'race': 'none', 'count': 0},
 {'name': 'Joe', 'gender': 'male', 'race': 'none', 'count': 270},
 {'name': 'Joey', 'gender': 'male', 'race': 'none', 'count': 11},
 {'name': 'John', 'gender': 'male', 'race': 'none', 'count': 2516},
 {'name': 'Johnathan', 'gender': 'male', 'race': 'none', 'count': 0},
 {'name': 'Johnny', 'gender': 'male', 'race': 'none', 'count': 266},
 {'name': 'Jon', 'gender': 'male', 'race': 'none', 'count': 2821},
 {'name': 'Jones', 'gender': 'male', 'race': 'none', 'count': 344},
 {'name': 'Joo-Lin', 'gender': 'none', 'race': 'asian', 'count': 0},
 {'name': 'Jorge', 'gender': 'male', 'race': 'latinx', 'count': 15},
 {'name': 'Jose', 'gender': 'male', 'race': 'latinx', 'count': 266},
 {'name': 'Joseph', 'gender': 'male', 'race': 'none', 'count': 183},
 {'name': 'Josh', 'gender': 'male', 'race': 'none', 'count': 30},
 {'name': 'Joxer', 'gender': 'male', 'race': 'none', 'count': 0},
 {'name': 'Joyce', 'gender': 'female', 'race': 'none', 'count': 81},
 {'name': 'Juan', 'gender': 'male', 'race': 'latinx', 'count': 214},
 {'name': 'Judy', 'gender': 'female', 'race': 'none', 'count': 52},
 {'name': 'Julie', 'gender': 'female', 'race': 'none', 'count': 83},
 {'name': 'Juliette', 'gender': 'female', 'race': 'none', 'count': 0},
 {'name': 'Julius', 'gender': 'male', 'race': 'none', 'count': 985},
 {'name': 'Kacey', 'gender': 'female', 'race': 'none', 'count': 0},
 {'name': 'Kariem', 'gender': 'male', 'race': 'none', 'count': 0},
 {'name': 'Kassandra', 'gender': 'female', 'race': 'none', 'count': 12},
 {'name': 'Kassidy', 'gender': 'female', 'race': 'none', 'count': 0},
 {'name': 'Kate', 'gender': 'female', 'race': 'none', 'count': 30},
 {'name': 'Katherine', 'gender': 'female', 'race': 'white', 'count': 34},
 {'name': 'Kathy', 'gender': 'female', 'race': 'none', 'count': 24},
 {'name': 'Katie', 'gender': 'female', 'race': 'white', 'count': 3},
 {'name': 'Kelly', 'gender': 'female', 'race': 'none', 'count': 92},
 {'name': 'Kelsi', 'gender': 'female', 'race': 'none', 'count': 0},
 {'name': 'Kenny', 'gender': 'male', 'race': 'none', 'count': 24},
 {'name': 'Kevin', 'gender': 'male', 'race': 'none', 'count': 69},
 {'name': 'Kia', 'gender': 'female', 'race': 'black', 'count': 9},
 {'name': 'Kim', 'gender': 'none', 'race': 'none', 'count': 106},
 {'name': 'King', 'gender': 'none', 'race': 'none', 'count': 1429},
 {'name': 'Kirby', 'gender': 'male', 'race': 'none', 'count': 198},
 {'name': 'Kristy', 'gender': 'female', 'race': 'none', 'count': 2},
 {'name': 'Kurt', 'gender': 'male', 'race': 'none', 'count': 25},
 {'name': 'Kwame', 'gender': 'male', 'race': 'black', 'count': 0},
 {'name': 'Kyle', 'gender': 'male', 'race': 'none', 'count': 18},
 {'name': 'Lamar', 'gender': 'male', 'race': 'latinx', 'count': 45},
 {'name': 'Lance', 'gender': 'male', 'race': 'none', 'count': 31},
 {'name': 'Laquan', 'gender': 'male', 'race': 'asian', 'count': 0},
 {'name': 'Laquisha', 'gender': 'female', 'race': 'black', 'count': 0},
 {'name': 'Lara', 'gender': 'female', 'race': 'none', 'count': 4},
 {'name': 'Lars', 'gender': 'male', 'race': 'none', 'count': 6},
 {'name': 'LaShawnda', 'gender': 'female', 'race': 'none', 'count': 0},
 {'name': 'Laura', 'gender': 'female', 'race': 'none', 'count': 64},
 {'name': 'Lawrence', 'gender': 'male', 'race': 'none', 'count': 330},
 {'name': 'Lea', 'gender': 'female', 'race': 'none', 'count': 914},
 {'name': 'LeBron', 'gender': 'male', 'race': 'black', 'count': 9},
 {'name': 'Lena', 'gender': 'female', 'race': 'none', 'count': 4},
 {'name': 'Leonard', 'gender': 'male', 'race': 'none', 'count': 192},
 {'name': 'LeShawn', 'gender': 'male', 'race': 'white', 'count': 0},
 {'name': 'Li', 'gender': 'none', 'race': 'asian', 'count': 6276},
 {'name': 'Lily', 'gender': 'female', 'race': 'none', 'count': 3},
 {'name': 'Lisa', 'gender': 'female', 'race': 'none', 'count': 76},
 {'name': 'Liz', 'gender': 'female', 'race': 'none', 'count': 32},
 {'name': 'Lloyd', 'gender': 'male', 'race': 'none', 'count': 32},
 {'name': 'Lou', 'gender': 'female', 'race': 'none', 'count': 1179},
 {'name': 'Louis', 'gender': 'male', 'race': 'none', 'count': 920},
 {'name': 'Lucy', 'gender': 'female', 'race': 'none', 'count': 49},
 {'name': 'Lynn', 'gender': 'female', 'race': 'none', 'count': 30},
 {'name': 'Mack', 'gender': 'male', 'race': 'none', 'count': 21},
 {'name': 'Maggie', 'gender': 'female', 'race': 'none', 'count': 10},
 {'name': 'Malcolm', 'gender': 'male', 'race': 'none', 'count': 51},
 {'name': 'Malik', 'gender': 'male', 'race': 'black', 'count': 0},
 {'name': 'Manuel', 'gender': 'male', 'race': 'latinx', 'count': 42},
 {'name': 'Marcus', 'gender': 'male', 'race': 'none', 'count': 84},
 {'name': 'Marianne', 'gender': 'female', 'race': 'none', 'count': 3},
 {'name': 'Marie', 'gender': 'female', 'race': 'none', 'count': 111},
 {'name': 'Mark', 'gender': 'male', 'race': 'none', 'count': 669},
 {'name': 'Marquis', 'gender': 'male', 'race': 'black', 'count': 19},
 {'name': 'Martha', 'gender': 'female', 'race': 'none', 'count': 83},
 {'name': 'Martin', 'gender': 'male', 'race': 'none', 'count': 654},
 {'name': 'Marty', 'gender': 'male', 'race': 'none', 'count': 33},
 {'name': 'Mary', 'gender': 'female', 'race': 'none', 'count': 979},
 {'name': 'Mathew', 'gender': 'male', 'race': 'none', 'count': 28},
 {'name': 'Matt', 'gender': 'male', 'race': 'none', 'count': 230},
 {'name': 'Mattie', 'gender': 'male', 'race': 'none', 'count': 0},
 {'name': 'Maya', 'gender': 'female', 'race': 'latinx', 'count': 45},
 {'name': 'Megan', 'gender': 'female', 'race': 'none', 'count': 6},
 {'name': 'Meghan', 'gender': 'female', 'race': 'none', 'count': 0},
 {'name': 'Melissa', 'gender': 'female', 'race': 'none', 'count': 13},
 {'name': 'Michael', 'gender': 'male', 'race': 'none', 'count': 613},
 {'name': 'Micheal', 'gender': 'male', 'race': 'none', 'count': 8},
 {'name': 'Miguel', 'gender': 'male', 'race': 'latinx', 'count': 10},
 {'name': 'Mike', 'gender': 'male', 'race': 'none', 'count': 147},
 {'name': 'Ming', 'gender': 'male', 'race': 'asian', 'count': 30},
 {'name': 'Missy', 'gender': 'female', 'race': 'none', 'count': 0},
 {'name': 'Mitchell', 'gender': 'male', 'race': 'none', 'count': 49},
 {'name': 'Mohammad', 'gender': 'male', 'race': 'none', 'count': 3},
 {'name': 'Molly', 'gender': 'female', 'race': 'white', 'count': 15},
 {'name': 'Monica', 'gender': 'female', 'race': 'none', 'count': 398},
 {'name': 'Monique', 'gender': 'female', 'race': 'none', 'count': 0},
 {'name': 'Muhammad', 'gender': 'male', 'race': 'none', 'count': 46},
 {'name': 'Naomi', 'gender': 'female', 'race': 'none', 'count': 19},
 {'name': 'Nell', 'gender': 'male', 'race': 'none', 'count': 9},
 {'name': 'Nia', 'gender': 'female', 'race': 'none', 'count': 18},
 {'name': 'Nick', 'gender': 'male', 'race': 'none', 'count': 46},
 {'name': 'Nina', 'gender': 'female', 'race': 'latinx', 'count': 5},
 {'name': 'Olga', 'gender': 'female', 'race': 'none', 'count': 9},
 {'name': 'Patricia', 'gender': 'female', 'race': 'none', 'count': 31},
 {'name': 'Patrick', 'gender': 'male', 'race': 'none', 'count': 156},
 {'name': 'Paul', 'gender': 'male', 'race': 'none', 'count': 561},
 {'name': 'Paula', 'gender': 'female', 'race': 'none', 'count': 115},
 {'name': 'Perth', 'gender': 'male', 'race': 'none', 'count': 159},
 {'name': 'Phoebe', 'gender': 'female', 'race': 'none', 'count': 6},
 {'name': 'Precious', 'gender': 'female', 'race': 'black', 'count': 23},
 {'name': 'Prescott', 'gender': 'none', 'race': 'white', 'count': 3},
 {'name': 'Priya', 'gender': 'female', 'race': 'none', 'count': 0},
 {'name': 'Rachel', 'gender': 'female', 'race': 'none', 'count': 19},
 {'name': 'Raegan', 'gender': 'none', 'race': 'none', 'count': 0},
 {'name': 'Ragesh', 'gender': 'male', 'race': 'asian', 'count': 0},
 {'name': 'Raja', 'gender': 'none', 'race': 'asian', 'count': 114},
 {'name': 'Rajeev', 'gender': 'male', 'race': 'asian', 'count': 0},
 {'name': 'Ramirez', 'gender': 'male', 'race': 'latinx', 'count': 6},
 {'name': 'Ramon', 'gender': 'male', 'race': 'latinx', 'count': 18},
 {'name': 'Raven', 'gender': 'female', 'race': 'black', 'count': 66},
 {'name': 'Raymond', 'gender': 'male', 'race': 'none', 'count': 15},
 {'name': 'Richard', 'gender': 'male', 'race': 'none', 'count': 534},
 {'name': 'Robert', 'gender': 'male', 'race': 'none', 'count': 771},
 {'name': 'Roberta', 'gender': 'female', 'race': 'none', 'count': 15},
 {'name': 'Rocco', 'gender': 'male', 'race': 'none', 'count': 6},
 {'name': 'Ron', 'gender': 'male', 'race': 'none', 'count': 228},
 {'name': 'Ronald', 'gender': 'male', 'race': 'none', 'count': 93},
 {'name': 'Ronnie', 'gender': 'male', 'race': 'white', 'count': 4},
 {'name': 'Ruby', 'gender': 'female', 'race': 'none', 'count': 22},

In [135]:
total_names_sorted = sorted(total_names, key=(lambda x: x['count']), reverse=True)

In [136]:
total_names_sorted

[{'name': 'Li', 'gender': 'none', 'race': 'asian', 'count': 6276},
 {'name': 'Jon', 'gender': 'male', 'race': 'none', 'count': 2821},
 {'name': 'John', 'gender': 'male', 'race': 'none', 'count': 2516},
 {'name': 'Tim', 'gender': 'male', 'race': 'none', 'count': 2308},
 {'name': 'Tom', 'gender': 'male', 'race': 'none', 'count': 2304},
 {'name': 'Cal', 'gender': 'male', 'race': 'none', 'count': 2024},
 {'name': 'Tuppence', 'gender': 'female', 'race': 'none', 'count': 1723},
 {'name': 'Ed', 'gender': 'male', 'race': 'none', 'count': 1719},
 {'name': 'Tommy', 'gender': 'male', 'race': 'none', 'count': 1699},
 {'name': 'King', 'gender': 'none', 'race': 'none', 'count': 1429},
 {'name': 'Drew', 'gender': 'male', 'race': 'none', 'count': 1237},
 {'name': 'Ben', 'gender': 'male', 'race': 'none', 'count': 1223},
 {'name': 'Will', 'gender': 'male', 'race': 'none', 'count': 1194},
 {'name': 'Lou', 'gender': 'female', 'race': 'none', 'count': 1179},
 {'name': 'Adrin', 'gender': 'male', 'race': 'latinx', 'count': 1139},
 {'name': 'James', 'gender': 'male', 'race': 'none', 'count': 1067},
 {'name': 'Val', 'gender': 'male', 'race': 'none', 'count': 1066},
 {'name': 'Dan', 'gender': 'male', 'race': 'none', 'count': 1034},
 {'name': 'Russ', 'gender': 'male', 'race': 'none', 'count': 1031},
 {'name': 'Julius', 'gender': 'male', 'race': 'none', 'count': 985},
 {'name': 'Mary', 'gender': 'female', 'race': 'none', 'count': 979},
 {'name': 'Brown', 'gender': 'none', 'race': 'white', 'count': 950},
 {'name': 'George', 'gender': 'male', 'race': 'none', 'count': 929},
 {'name': 'Louis', 'gender': 'male', 'race': 'none', 'count': 920},
 {'name': 'Lea', 'gender': 'female', 'race': 'none', 'count': 914},
 {'name': 'Inglethorp', 'gender': 'none', 'race': 'white', 'count': 913},
 {'name': 'David', 'gender': 'male', 'race': 'none', 'count': 856},
 {'name': 'Bill', 'gender': 'male', 'race': 'none', 'count': 855},
 {'name': 'Robert', 'gender': 'male', 'race': 'none', 'count': 771},
 {'name': 'Jesus', 'gender': 'male', 'race': 'latinx', 'count': 756},
 {'name': 'Dave', 'gender': 'male', 'race': 'none', 'count': 713},
 {'name': 'Chan', 'gender': 'male', 'race': 'asian', 'count': 712},
 {'name': 'Mark', 'gender': 'male', 'race': 'none', 'count': 669},
 {'name': 'Martin', 'gender': 'male', 'race': 'none', 'count': 654},
 {'name': 'Scott', 'gender': 'male', 'race': 'white', 'count': 638},
 {'name': 'Sam', 'gender': 'male', 'race': 'none', 'count': 627},
 {'name': 'Bob', 'gender': 'male', 'race': 'none', 'count': 621},
 {'name': 'Michael', 'gender': 'male', 'race': 'none', 'count': 613},
 {'name': 'Jane', 'gender': 'female', 'race': 'none', 'count': 600},
 {'name': 'William', 'gender': 'male', 'race': 'none', 'count': 565},
 {'name': 'Paul', 'gender': 'male', 'race': 'none', 'count': 561},
 {'name': 'Susan', 'gender': 'female', 'race': 'none', 'count': 540},
 {'name': 'Jack', 'gender': 'male', 'race': 'white', 'count': 539},
 {'name': 'Richard', 'gender': 'male', 'race': 'none', 'count': 534},
 {'name': 'Donald', 'gender': 'male', 'race': 'none', 'count': 529},
 {'name': 'Thorn', 'gender': 'male', 'race': 'none', 'count': 499},
 {'name': 'Steve', 'gender': 'male', 'race': 'none', 'count': 424},
 {'name': 'Charles', 'gender': 'male', 'race': 'none', 'count': 416},
 {'name': 'Jim', 'gender': 'male', 'race': 'none', 'count': 411},
 {'name': 'Brad', 'gender': 'male', 'race': 'none', 'count': 400},
 {'name': 'Monica', 'gender': 'female', 'race': 'none', 'count': 398},
 {'name': 'Carol', 'gender': 'none', 'race': 'none', 'count': 384},
 {'name': 'Thomas', 'gender': 'male', 'race': 'none', 'count': 377},
 {'name': 'Chang', 'gender': 'none', 'race': 'asian', 'count': 366},
 {'name': 'Jones', 'gender': 'male', 'race': 'none', 'count': 344},
 {'name': 'Anse', 'gender': 'male', 'race': 'none', 'count': 341},
 {'name': 'Hunt', 'gender': 'none', 'race': 'none', 'count': 338},
 {'name': 'Cynthia', 'gender': 'female', 'race': 'none', 'count': 333},
 {'name': 'Lawrence', 'gender': 'male', 'race': 'none', 'count': 330},
 {'name': 'Daniel', 'gender': 'male', 'race': 'none', 'count': 328},
 {'name': 'Vrenna', 'gender': 'female', 'race': 'none', 'count': 320},
 {'name': 'Jen', 'gender': 'female', 'race': 'none', 'count': 304},
 {'name': 'Anne', 'gender': 'female', 'race': 'none', 'count': 296},
 {'name': 'Carl', 'gender': 'male', 'race': 'none', 'count': 292},
 {'name': 'Joe', 'gender': 'male', 'race': 'none', 'count': 270},
 {'name': 'Johnny', 'gender': 'male', 'race': 'none', 'count': 266},
 {'name': 'Jose', 'gender': 'male', 'race': 'latinx', 'count': 266},
 {'name': 'Earl', 'gender': 'male', 'race': 'none', 'count': 264},
 {'name': 'Alfred', 'gender': 'male', 'race': 'none', 'count': 253},
 {'name': 'Cazar', 'gender': 'male', 'race': 'none', 'count': 252},
 {'name': 'Edward', 'gender': 'male', 'race': 'none', 'count': 246},
 {'name': 'Natalia', 'gender': 'female', 'race': 'latinx', 'count': 243},
 {'name': 'Jackson', 'gender': 'none', 'race': 'none', 'count': 238},
 {'name': 'Matt', 'gender': 'male', 'race': 'none', 'count': 230},
 {'name': 'Ron', 'gender': 'male', 'race': 'none', 'count': 228},
 {'name': 'Alexander', 'gender': 'male', 'race': 'none', 'count': 225},
 {'name': 'Greuze', 'gender': 'none', 'race': 'white', 'count': 222},
 {'name': 'Simon', 'gender': 'male', 'race': 'none', 'count': 218},
 {'name': 'Steven', 'gender': 'male', 'race': 'none', 'count': 216},
 {'name': 'Juan', 'gender': 'male', 'race': 'latinx', 'count': 214},
 {'name': 'Kirby', 'gender': 'male', 'race': 'none', 'count': 198},
 {'name': 'Sara', 'gender': 'female', 'race': 'none', 'count': 196},
 {'name': 'Jeff', 'gender': 'male', 'race': 'none', 'count': 195},
 {'name': 'Leonard', 'gender': 'male', 'race': 'none', 'count': 192},
 {'name': 'Shiloh', 'gender': 'female', 'race': 'none', 'count': 191},
 {'name': 'Jacob', 'gender': 'male', 'race': 'white', 'count': 186},
 {'name': 'Joseph', 'gender': 'male', 'race': 'none', 'count': 183},
 {'name': 'Shannon', 'gender': 'female', 'race': 'none', 'count': 177},
 {'name': 'Fred', 'gender': 'male', 'race': 'none', 'count': 174},
 {'name': 'Adam', 'gender': 'male', 'race': 'none', 'count': 170},
 {'name': 'Bai', 'gender': 'female', 'race': 'asian', 'count': 169},
 {'name': 'Boris', 'gender': 'male', 'race': 'none', 'count': 163},
 {'name': 'Stephen', 'gender': 'male', 'race': 'none', 'count': 163},
 {'name': 'Perth', 'gender': 'male', 'race': 'none', 'count': 159},
 {'name': 'Patrick', 'gender': 'male', 'race': 'none', 'count': 156},
 {'name': 'Anna', 'gender': 'female', 'race': 'none', 'count': 151},
 {'name': 'Tony', 'gender': 'male', 'race': 'none', 'count': 151},
 {'name': 'Mike', 'gender': 'male', 'race': 'none', 'count': 147},
 {'name': 'Jerry', 'gender': 'male', 'race': 'none', 'count': 137},
 {'name': 'Gabriel', 'gender': 'male', 'race': 'latinx', 'count': 133},
 {'name': "A'deem", 'gender': 'male', 'race': 'none', 'count': 129},
 {'name': 'Andrew', 'gender': 'male', 'race': 'none', 'count': 125},
 {'name': 'Benjamin', 'gender': 'male', 'race': 'none', 'count': 121},
 {'name': 'Chen', 'gender': 'male', 'race': 'asian', 'count': 116},
 {'name': 'Paula', 'gender': 'female', 'race': 'none', 'count': 115},
 {'name': 'Raja', 'gender': 'none', 'race': 'asian', 'count': 114},
 {'name': 'Cole', 'gender': 'male', 'race': 'white', 'count': 113},
 {'name': 'Marie', 'gender': 'female', 'race': 'none', 'count': 111},
 {'name': 'Alan', 'gender': 'male', 'race': 'none', 'count': 110},
 {'name': 'Jimmy', 'gender': 'male', 'race': 'none', 'count': 107},
 {'name': 'Stewart', 'gender': 'male', 'race': 'none', 'count': 107},
 {'name': 'Kim', 'gender': 'none', 'race': 'none', 'count': 106},
 {'name': 'Billy', 'gender': 'male', 'race': 'none', 'count': 104},
 {'name': 'Beth', 'gender': 'female', 'race': 'none', 'count': 100},
 {'name': 'Brittany', 'gender': 'female', 'race': 'none', 'count': 94},
 {'name': 'Charlie', 'gender': 'male', 'race': 'none', 'count': 93},
 {'name': 'Ronald', 'gender': 'male', 'race': 'none', 'count': 93},
 {'name': 'Kelly', 'gender': 'female', 'race': 'none', 'count': 92},
 {'name': 'Janet', 'gender': 'female', 'race': 'none', 'count': 91},
 {'name': 'Carlos', 'gender': 'male', 'race': 'latinx', 'count': 88},
 {'name': 'Marcus', 'gender': 'male', 'race': 'none', 'count': 84},
 {'name': 'Emily', 'gender': 'female', 'race': 'white', 'count': 83},
 {'name': 'Julie', 'gender': 'female', 'race': 'none', 'count': 83},
 {'name': 'Martha', 'gender': 'female', 'race': 'none', 'count': 83},
 {'name': 'Vince', 'gender': 'male', 'race': 'none', 'count': 83},
 {'name': 'Gary', 'gender': 'male', 'race': 'black', 'count': 81},
 {'name': 'Joyce', 'gender': 'female', 'race': 'none', 'count': 81},
 {'name': 'Betty', 'gender': 'female', 'race': 'none', 'count': 78},
 {'name': 'Lisa', 'gender': 'female', 'race': 'none', 'count': 76},
 {'name': 'Wright', 'gender': 'none', 'race': 'black', 'count': 76},
 {'name': 'Greg', 'gender': 'male', 'race': 'white', 'count': 74},
 {'name': 'Andy', 'gender': 'male', 'race': 'none', 'count': 73},
 {'name': 'Brian', 'gender': 'male', 'race': 'none', 'count': 73},
 {'name': 'Barbara', 'gender': 'female', 'race': 'none', 'count': 71},
 {'name': 'Kevin', 'gender': 'male', 'race': 'none', 'count': 69},
 {'name': 'Eric', 'gender': 'male', 'race': 'none', 'count': 68},
 {'name': 'Ryan', 'gender': 'male', 'race': 'none', 'count': 67},
 {'name': 'Raven', 'gender': 'female', 'race': 'black', 'count': 66},
 {'name': 'Craig', 'gender': 'female', 'race': 'white', 'count': 65},
 {'name': 'Laura', 'gender': 'female', 'race': 'none', 'count': 64},
 {'name': 'Sue', 'gender': 'female', 'race': 'none', 'count': 62},
 {'name': 'Mario', 'gender': 'male', 'race': 'latinx', 'count': 62},
 {'name': 'Amy', 'gender': 'female', 'race': 'white', 'count': 60},
 {'name': 'Tina', 'gender': 'female', 'race': 'none', 'count': 58},
 {'name': 'Grace', 'gender': 'female', 'race': 'none', 'count': 57},
 {'name': 'Aaron', 'gender': 'male', 'race': 'none', 'count': 55},
 {'name': 'Joan', 'gender': 'female', 'race': 'none', 'count': 54},
 {'name': 'Candy', 'gender': 'female', 'race': 'none', 'count': 53},
 {'name': 'Diamond', 'gender': 'female', 'race': 'black', 'count': 53},
 {'name': 'Judy', 'gender': 'female', 'race': 'none', 'count': 52},
 {'name': 'Wendy', 'gender': 'female', 'race': 'none', 'count': 52},
 {'name': 'Malcolm', 'gender': 'male', 'race': 'none', 'count': 51},
 {'name': 'Sharon', 'gender': 'female', 'race': 'none', 'count': 51},
 {'name': 'Harold', 'gender': 'male', 'race': 'none', 'count': 49},
 {'name': 'Lucy', 'gender': 'female', 'race': 'none', 'count': 49},
 {'name': 'Mitchell', 'gender': 'male', 'race': 'none', 'count': 49},
 {'name': 'Fowler', 'gender': 'none', 'race': 'none', 'count': 48},
 {'name': 'Sarah', 'gender': 'female', 'race': 'none', 'count': 48},
 {'name': 'Dylan', 'gender': 'male', 'race': 'white', 'count': 47},
 {'name': 'Hunter', 'gender': 'male', 'race': 'white', 'count': 46},
 {'name': 'Muhammad', 'gender': 'male', 'race': 'none', 'count': 46},
 {'name': 'Nick', 'gender': 'male', 'race': 'none', 'count': 46},
 {'name': 'Jacques', 'gender': 'male', 'race': 'none', 'count': 45},
 {'name': 'Lamar', 'gender': 'male', 'race': 'latinx', 'count': 45},
 {'name': 'Maya', 'gender': 'female', 'race': 'latinx', 'count': 45},
 {'name': 'Ellen', 'gender': 'female', 'race': 'none', 'count': 44},
 {'name': 'Manuel', 'gender': 'male', 'race': 'latinx', 'count': 42},
 {'name': 'Manuel', 'gender': 'male', 'race': 'latinx', 'count': 42},
 {'name': 'Danny', 'gender': 'male', 'race': 'none', 'count': 41},
 {'name': 'Gus', 'gender': 'male', 'race': 'none', 'count': 41},
 {'name': 'Jennifer', 'gender': 'female', 'race': 'none', 'count': 41},
 {'name': 'Carrie', 'gender': 'female', 'race': 'none', 'count': 40},
 {'name': 'Essex', 'gender': 'none', 'race': 'white', 'count': 40},
 {'name': 'Burr', 'gender': 'none', 'race': 'none', 'count': 39},
 {'name': 'Eddie', 'gender': 'male', 'race': 'none', 'count': 39},
 {'name': 'Jed', 'gender': 'male', 'race': 'none', 'count': 39},
 {'name': 'Sally', 'gender': 'female', 'race': 'none', 'count': 39},
 {'name': 'Jeffrey', 'gender': 'male', 'race': 'none', 'count': 36},
 {'name': 'Sidney', 'gender': 'male', 'race': 'none', 'count': 36},
 {'name': 'Dale', 'gender': 'male', 'race': 'none', 'count': 34},
 {'name': 'Katherine', 'gender': 'female', 'race': 'white', 'count': 34},
 {'name': 'Spence', 'gender': 'male', 'race': 'none', 'count': 34},
 {'name': 'Connor', 'gender': 'male', 'race': 'white', 'count': 33},
 {'name': 'Marty', 'gender': 'male', 'race': 'none', 'count': 33},
 {'name': 'Liz', 'gender': 'female', 'race': 'none', 'count': 32},
 {'name': 'Lloyd', 'gender': 'male', 'race': 'none', 'count': 32},
 {'name': 'Veronica', 'gender': 'female', 'race': 'none', 'count': 32},
 {'name': 'Brent', 'gender': 'male', 'race': 'none', 'count': 31},
 {'name': 'Dawson', 'gender': 'male', 'race': 'none', 'count': 31},
 {'name': 'Lance', 'gender': 'male', 'race': 'none', 'count': 31},
 {'name': 'Patricia', 'gender': 'female', 'race': 'none', 'count': 31},
 {'name': 'Tyler', 'gender': 'male', 'race': 'none', 'count': 31},
 {'name': 'Cindy', 'gender': 'female', 'race': 'none', 'count': 30},
 {'name': 'Eugene', 'gender': 'male', 'race': 'none', 'count': 30},
 {'name': 'Josh', 'gender': 'male', 'race': 'none', 'count': 30},
 {'name': 'Kate', 'gender': 'female', 'race': 'none', 'count': 30},
 {'name': 'Lynn', 'gender': 'female', 'race': 'none', 'count': 30},
 {'name': 'Ming', 'gender': 'male', 'race': 'asian', 'count': 30},
 {'name': 'Mathew', 'gender': 'male', 'race': 'none', 'count': 28},
 {'name': 'Edith', 'gender': 'female', 'race': 'none', 'count': 27},
 {'name': 'Carly', 'gender': 'female', 'race': 'white', 'count': 25},
 {'name': 'Kurt', 'gender': 'male', 'race': 'none', 'count': 25},
 {'name': 'Sammy', 'gender': 'male', 'race': 'none', 'count': 25},
 {'name': 'Seth', 'gender': 'male', 'race': 'none', 'count': 25},
 {'name': 'Brady', 'gender': 'male', 'race': 'none', 'count': 24},
 {'name': 'Jerome', 'gender': 'male', 'race': 'none', 'count': 24},
 {'name': 'Kathy', 'gender': 'female', 'race': 'none', 'count': 24},
 {'name': 'Kenny', 'gender': 'male', 'race': 'none', 'count': 24},
 {'name': 'Xavier', 'gender': 'male', 'race': 'latinx', 'count': 24},
 {'name': 'Dustin', 'gender': 'male', 'race': 'white', 'count': 23},
 {'name': 'Precious', 'gender': 'female', 'race': 'black', 'count': 23},
 {'name': 'Henderson', 'gender': 'none', 'race': 'none', 'count': 22},
 {'name': 'Ruby', 'gender': 'female', 'race': 'none', 'count': 22},
 {'name': 'Adrian', 'gender': 'male', 'race': 'latinx', 'count': 22},
 {'name': 'Anita', 'gender': 'female', 'race': 'latinx', 'count': 21},
 {'name': 'Jamie', 'gender': 'male', 'race': 'none', 'count': 21},
 {'name': 'Mack', 'gender': 'male', 'race': 'none', 'count': 21},
 {'name': 'Jason', 'gender': 'male', 'race': 'none', 'count': 20},
 {'name': 'Benny', 'gender': 'female', 'race': 'none', 'count': 19},
 {'name': 'Heather', 'gender': 'female', 'race': 'white', 'count': 19},
 {'name': 'Marquis', 'gender': 'male', 'race': 'black', 'count': 19},
 {'name': 'Naomi', 'gender': 'female', 'race': 'none', 'count': 19},
 {'name': 'Rachel', 'gender': 'female', 'race': 'none', 'count': 19},
 {'name': 'Kyle', 'gender': 'male', 'race': 'none', 'count': 18},
 {'name': 'Nia', 'gender': 'female', 'race': 'none', 'count': 18},
 {'name': 'Ramon', 'gender': 'male', 'race': 'latinx', 'count': 18},
 {'name': 'Sherry', 'gender': 'female', 'race': 'none', 'count': 18},
 {'name': 'Julian', 'gender': 'male', 'race': 'latinx', 'count': 18},
 {'name': 'Denny', 'gender': 'male', 'race': 'none', 'count': 17},
 {'name': 'Ashley', 'gender': 'female', 'race': 'none', 'count': 15},
 {'name': 'Erik', 'gender': 'male', 'race': 'none', 'count': 15},
 {'name': 'Jake', 'gender': 'male', 'race': 'white', 'count': 15},
 {'name': 'Jill', 'gender': 'female', 'race': 'none', 'count': 15},
 {'name': 'Jorge', 'gender': 'male', 'race': 'latinx', 'count': 15},
 {'name': 'Molly', 'gender': 'female', 'race': 'white', 'count': 15},
 {'name': 'Raymond', 'gender': 'male', 'race': 'none', 'count': 15},
 {'name': 'Roberta', 'gender': 'female', 'race': 'none', 'count': 15},
 {'name': 'Shane', 'gender': 'male', 'race': 'none', 'count': 15},
 {'name': 'Shawn', 'gender': 'male', 'race': 'none', 'count': 15},
 {'name': 'Ally', 'gender': 'none', 'race': 'none', 'count': 14},
 {'name': 'Dawn', 'gender': 'female', 'race': 'none', 'count': 14},
 {'name': 'Brenda', 'gender': 'female', 'race': 'none', 'count': 13},
 {'name': 'Melissa', 'gender': 'female', 'race': 'none', 'count': 13},
 {'name': 'Candace', 'gender': 'female', 'race': 'none', 'count': 12},
 {'name': 'Cathy', 'gender': 'female', 'race': 'none', 'count': 12},
 {'name': 'Jenny', 'gender': 'female', 'race': 'none', 'count': 12},
 {'name': 'Kassandra', 'gender': 'female', 'race': 'none', 'count': 12},
 {'name': 'Tammy', 'gender': 'male', 'race': 'none', 'count': 12},
 {'name': 'Jeremy', 'gender': 'male', 'race': 'none', 'count': 11},
 {'name': 'Joey', 'gender': 'male', 'race': 'none', 'count': 11},
 {'name': 'Claire', 'gender': 'female', 'race': 'white', 'count': 10},
 {'name': 'Maggie', 'gender': 'female', 'race': 'none', 'count': 10},
 {'name': 'Miguel', 'gender': 'male', 'race': 'latinx', 'count': 10},
 {'name': 'Wesley', 'gender': 'male', 'race': 'none', 'count': 10},
 {'name': 'Flora', 'gender': 'female', 'race': 'none', 'count': 9},
 {'name': 'Greta', 'gender': 'female', 'race': 'none', 'count': 9},
 {'name': 'Kia', 'gender': 'female', 'race': 'black', 'count': 9},
 {'name': 'LeBron', 'gender': 'male', 'race': 'black', 'count': 9},
 {'name': 'Nell', 'gender': 'male', 'race': 'none', 'count': 9},
 {'name': 'Olga', 'gender': 'female', 'race': 'none', 'count': 9},
 {'name': 'Timmy', 'gender': 'male', 'race': 'none', 'count': 9},
 {'name': 'Elena', 'gender': 'female', 'race': 'latinx', 'count': 9},
 {'name': 'Becky', 'gender': 'female', 'race': 'none', 'count': 8},
 {'name': 'Micheal', 'gender': 'male', 'race': 'none', 'count': 8},
 {'name': 'Ethan', 'gender': 'male', 'race': 'none', 'count': 7},
 {'name': 'Javier', 'gender': 'male', 'race': 'latinx', 'count': 7},
 {'name': 'Shelly', 'gender': 'female', 'race': 'none', 'count': 7},
 {'name': 'Tyrone', 'gender': 'male', 'race': 'black', 'count': 7},
 {'name': 'Bradford', 'gender': 'male', 'race': 'none', 'count': 6},
 {'name': 'Camille', 'gender': 'female', 'race': 'none', 'count': 6},
 {'name': 'Carla', 'gender': 'female', 'race': 'none', 'count': 6},
 {'name': 'Cheryl', 'gender': 'female', 'race': 'none', 'count': 6},
 {'name': 'Lars', 'gender': 'male', 'race': 'none', 'count': 6},
 {'name': 'Megan', 'gender': 'female', 'race': 'none', 'count': 6},
 {'name': 'Phoebe', 'gender': 'female', 'race': 'none', 'count': 6},
 {'name': 'Ramirez', 'gender': 'male', 'race': 'latinx', 'count': 6},
 {'name': 'Rocco', 'gender': 'male', 'race': 'none', 'count': 6},
 {'name': 'Zack', 'gender': 'male', 'race': 'none', 'count': 6},
 {'name': 'Geraldo', 'gender': 'male', 'race': 'latinx', 'count': 6},
 {'name': 'Jenna', 'gender': 'female', 'race': 'white', 'count': 5},
 {'name': 'Nina', 'gender': 'female', 'race': 'latinx', 'count': 5},
 {'name': 'Lara', 'gender': 'female', 'race': 'none', 'count': 4},
 {'name': 'Lena', 'gender': 'female', 'race': 'none', 'count': 4},
 {'name': 'Ronnie', 'gender': 'male', 'race': 'white', 'count': 4},
 {'name': 'Terrance', 'gender': 'male', 'race': 'black', 'count': 4},
 {'name': 'Biff', 'gender': 'male', 'race': 'none', 'count': 3},
 {'name': 'Cody', 'gender': 'male', 'race': 'white', 'count': 3},
 {'name': 'Katie', 'gender': 'female', 'race': 'white', 'count': 3},
 {'name': 'Lily', 'gender': 'female', 'race': 'none', 'count': 3},
 {'name': 'Marianne', 'gender': 'female', 'race': 'none', 'count': 3},
 {'name': 'Mohammad', 'gender': 'male', 'race': 'none', 'count': 3},

In [137]:
with open("names_sorted.json",'w') as f:
    json.dump(total_names_sorted, f)

In [138]:
import pandas as pd

In [139]:
name_df = pd.DataFrame(total_names_sorted)

In [140]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_colwidth', -1)

<ipython-input-140-24e22e30e311>:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [141]:
name_df[name_df['race']=='latinx']

        name  gender    race  count
14   Adrin    male    latinx  1139
29   Jesus    male    latinx  756
66   Jose     male    latinx  266
71   Natalia  female  latinx  243
79   Juan     male    latinx  214
99   Gabriel  male    latinx  133
119  Carlos   male    latinx  88
141  Mario    male    latinx  62
163  Lamar    male    latinx  45
164  Maya     female  latinx  45
166  Manuel   male    latinx  42
167  Manuel   male    latinx  42
208  Xavier   male    latinx  24
213  Adrian   male    latinx  22
214  Anita    female  latinx  21
225  Ramon    male    latinx  18
227  Julian   male    latinx  18
233  Jorge    male    latinx  15
252  Miguel   male    latinx  10
261  Elena    female  latinx  9
265  Javier   male    latinx  7
275  Ramirez  male    latinx  6
278  Geraldo  male    latinx  6
280  Nina     female  latinx  5
356  Silas    male    latinx  0

In [77]:
male_name_df = name_df[name_df['gender']=='male']
female_name_df = name_df[name_df['gender']=='female']
none_name_df = name_df[name_df['gender']=='none']

In [165]:
is_white = name_df['race'] == 'white'
is_black = name_df['race'] == 'black'
is_latinx = name_df['race'] == 'latinx'
is_asian = name_df['race'] == 'asian'

In [84]:
def name_distribution(name_df):
    is_male = name_df['gender'] == 'male'
    is_female = name_df['gender'] == 'female'

    is_white = name_df['race'] == 'white'
    is_black = name_df['race'] == 'black'
    is_latinx = name_df['race'] == 'latinx'
    is_asian = name_df['race'] == 'asian'

    print(f"Male names : {len(name_df[is_male])}")
    print(f"Female names : {len(name_df[is_female])}")
    print(f"White names : {len(name_df[is_white])}")
    print(f"Black names : {len(name_df[is_black])}")
    print(f"Latinx names : {len(name_df[is_latinx])}")
    print(f"Asian names : {len(name_df[is_asian])}")

In [142]:
name_distribution(name_df)

Male names : 209
Female names : 135
White names : 30
Black names : 25
Latinx names : 25
Asian names : 25

In [145]:
print("Male")
name_distribution(male_name_df)
print()
print("Female")
name_distribution(female_name_df)
print()
print("None")
name_distribution(none_name_df)

Male
Male names : 203
Female names : 0
White names : 14
Black names : 15
Latinx names : 14
Asian names : 13

Female
Male names : 0
Female names : 133
White names : 11
Black names : 9
Latinx names : 3
Asian names : 1

None
Male names : 0
Female names : 0
White names : 5
Black names : 1
Latinx names : 0
Asian names : 11

In [159]:
name_distribution(male_name_df[:100])

Male names : 100
Female names : 0
White names : 6
Black names : 1
Latinx names : 6
Asian names : 2

In [186]:
print(f"Number of 'male' names : {len(male_name_df[:100])}")
print(f"Frequency count : {male_name_df[:100]['count'].sum()}")

Number of 'male' names : 100
Frequency count : 50475

In [197]:
male_name_df[:10].to_dict('record')

/home/boychaboy/anaconda3/envs/gomu/lib/python3.8/site-packages/pandas/core/frame.py:1549: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  warnings.warn(

[{'name': 'Jon', 'gender': 'male', 'race': 'none', 'count': 2821},
 {'name': 'John', 'gender': 'male', 'race': 'none', 'count': 2516},
 {'name': 'Tim', 'gender': 'male', 'race': 'none', 'count': 2308},
 {'name': 'Tom', 'gender': 'male', 'race': 'none', 'count': 2304},
 {'name': 'Cal', 'gender': 'male', 'race': 'none', 'count': 2024},
 {'name': 'Ed', 'gender': 'male', 'race': 'none', 'count': 1719},
 {'name': 'Tommy', 'gender': 'male', 'race': 'none', 'count': 1699},
 {'name': 'Drew', 'gender': 'male', 'race': 'none', 'count': 1237},
 {'name': 'Ben', 'gender': 'male', 'race': 'none', 'count': 1223},
 {'name': 'Will', 'gender': 'male', 'race': 'none', 'count': 1194}]

In [198]:
def save_name(name_df, filename):
    name_df.to_csv(filename+'.csv')
    json.dump(name_df.to_dict('record'), open(filename+'.json', 'w'))

In [160]:
name_distribution(female_name_df[:100])

Male names : 0
Female names : 100
White names : 10
Black names : 4
Latinx names : 3
Asian names : 1

In [187]:
print(f"Number of 'female' names : {len(female_name_df[:100])}")
print(f"Frequency count : {female_name_df[:100]['count'].sum()}")

Number of 'female' names : 100
Frequency count : 11433

In [170]:
white_name_df = name_df[is_white]
black_name_df = name_df[is_black]
latinx_name_df = name_df[is_latinx]
asian_name_df = name_df[is_asian]

In [190]:
white_name_df = white_name_df[:25]
print(f"Number of names : {len(white_name_df)}")
name_distribution(white_name_df)
print(f"Frequency count : {white_name_df['count'].sum()}")
white_name_df[:25]

Number of names : 25
Male names : 12
Female names : 9
White names : 25
Black names : 0
Latinx names : 0
Asian names : 0
Frequency count : 4162

           name  gender   race  count
21   Brown       none    white  950
25   Inglethorp  none    white  913
34   Scott       male    white  638
42   Jack        male    white  539
76   Greuze      none    white  222
85   Jacob       male    white  186
106  Cole        male    white  113
121  Emily       female  white  83
130  Greg        male    white  74
138  Craig       female  white  65
142  Amy         female  white  60
158  Dylan       male    white  47
159  Hunter      male    white  46
172  Essex       none    white  40
180  Katherine   female  white  34
182  Connor      male    white  33
200  Carly       female  white  25
209  Dustin      male    white  23
219  Heather     female  white  19
231  Jake        male    white  15
234  Molly       female  white  15
250  Claire      female  white  10
279  Jenna       female  white  5
283  Ronnie      male    white  4
286  Cody        male    white  3

In [191]:
print(f"Number of names : {len(black_name_df)}")
name_distribution(black_name_df)
print(f"Frequency count : {black_name_df['count'].sum()}")
black_name_df

Number of names : 25
Male names : 15
Female names : 9
White names : 0
Black names : 25
Latinx names : 0
Asian names : 0
Frequency count : 349

         name  gender   race  count
125  Gary      male    black  81
129  Wright    none    black  76
137  Raven     female  black  66
148  Diamond   female  black  53
210  Precious  female  black  23
220  Marquis   male    black  19
256  Kia       female  black  9
257  LeBron    male    black  9
267  Tyrone    male    black  7
284  Terrance  male    black  4
295  Beyonce   female  black  2
315  D'quan    male    black  0
317  DeShawn   male    black  0
318  Ebony     female  black  0
324  Jamal     male    black  0
325  Jamel     male    black  0
336  Kwame     male    black  0
338  Laquisha  female  black  0
341  Malik     male    black  0
352  Shaniqua  female  black  0
358  Tanisha   female  black  0
361  Terrell   male    black  0
363  Trevon    male    black  0
364  Treyvone  male    black  0
366  Tyresse   male    black  0

In [192]:
print(f"Number of names : {len(latinx_name_df)}")
name_distribution(latinx_name_df)
print(f"Frequency count : {latinx_name_df['count'].sum()}")
latinx_name_df[:25]

Number of names : 25
Male names : 20
Female names : 5
White names : 0
Black names : 0
Latinx names : 25
Asian names : 0
Frequency count : 3236

        name  gender    race  count
14   Adrin    male    latinx  1139
29   Jesus    male    latinx  756
66   Jose     male    latinx  266
71   Natalia  female  latinx  243
79   Juan     male    latinx  214
99   Gabriel  male    latinx  133
119  Carlos   male    latinx  88
141  Mario    male    latinx  62
163  Lamar    male    latinx  45
164  Maya     female  latinx  45
166  Manuel   male    latinx  42
167  Manuel   male    latinx  42
208  Xavier   male    latinx  24
213  Adrian   male    latinx  22
214  Anita    female  latinx  21
225  Ramon    male    latinx  18
227  Julian   male    latinx  18
233  Jorge    male    latinx  15
252  Miguel   male    latinx  10
261  Elena    female  latinx  9
265  Javier   male    latinx  7
275  Ramirez  male    latinx  6
278  Geraldo  male    latinx  6
280  Nina     female  latinx  5
356  Silas    male    latinx  0

In [194]:
print(f"Number of names : {len(asian_name_df)}")
name_distribution(asian_name_df)
print(f"Frequency count : {asian_name_df['count'].sum()}")
asian_name_df[:25]

Number of names : 25
Male names : 13
Female names : 1
White names : 0
Black names : 0
Latinx names : 0
Asian names : 25
Frequency count : 7786

            name  gender   race  count
0    Li           none    asian  6276
31   Chan         male    asian  712
53   Chang        none    asian  366
90   Bai          female  asian  169
103  Chen         male    asian  116
105  Raja         none    asian  114
197  Ming         male    asian  30
294  Wang         none    asian  3
308  Chang Lee    male    asian  0
310  Chen Lang    none    asian  0
311  Chen Wee     male    asian  0
312  Chen Wu      male    asian  0
313  Chin Pang    none    asian  0
314  Chong Ling   none    asian  0
320  Feng Wu      none    asian  0
329  Joo-Lin      none    asian  0
337  Laquan       male    asian  0
348  Ragesh       male    asian  0
349  Rajeev       male    asian  0
354  Sheng Lee    male    asian  0
357  Sudeep       male    asian  0
367  Won Lee      male    asian  0
368  Won San Lee  male    asian  0
369  Wong Chang   none    asian  0
370  Yang Wang    none    asian  0

In [203]:
save_name(male_name_df[:100], 'male_names')
save_name(female_name_df[:100], 'female_names')
save_name(white_name_df, 'white_names')
save_name(black_name_df, 'black_names')
save_name(latinx_name_df, 'latinx_names')
save_name(asian_name_df, 'asian_names')

## 2. Gomu occupations in NLI dataset

### Count occupation in MNLI

In [213]:
def count_entity(entities, data):
    count = dict()
    sent = []
    for e in entities:
        count[e] = count.get(e, 0)
    for d in data:
        for e in entities:
            if e in d:
                count[e] += 1
                sent.append(d)
    return count, sent

In [211]:
gomu_occupations

['academic',
 'accountant',
 'actor',
 'administrator',
 'aeronautical engineer',
 'agent',
 'airman',
 'analyst',
 'architect',
 'army',
 'artist',
 'arts',
 'assistant',
 'astronomer',
 'athlete',
 'attendant',
 'attourney',
 'auditor',
 'author',
 'baker',
 'banker',
 'barber',
 'bartender',
 'boxer',
 'broker',
 'builder',
 'businessperson',
 'butcher',
 'butler',
 'carpenter',
 'cashier',
 'CEO',
 'chef',
 'chemist',
 'chess player',
 'chief',
 'civil',
 'cleaner',
 'cleric',
 'clerk',
 'coach',
 'comedian',
 'commander',
 'composer',
 'construction worker',
 'cook',
 'counselor',
 'dancer',
 'dealer',
 'delivery',
 'dentist',
 'designer',
 'detective',
 'diplomat',
 'director',
 'doctor',
 'drawer',
 'driver',
 'economist',
 'editor',
 'electrician',
 'employee',
 'employment',
 'engineer',
 'entrepreneur',
 'executive',
 'farmer',
 'firefighter',
 'fireman',
 'football player',
 'foster parent',
 'gambler',
 'grocer',
 'groom',
 'guard',
 'guitarist',
 'hairdresser',
 'handball player',
 'handyman',
 'historian',
 'hostess',
 'housekeeper',
 'illustrator',
 'inspector',
 'janitor',
 'journalist',
 'judge',
 'laborer',
 'landlord',
 'lawn mower',
 'lawyer',
 'librarian',
 'lifeguard',
 'linguist',
 'magician',
 'manager',
 'mathematician',
 'mechanic',
 'medical student',
 'model',
 'mover',
 'musician',
 'nurse',
 'office worker',
 'opera singer',
 'painter',
 'pensioner',
 'performing artist',
 'pharmacist',
 'photographer',
 'physician',
 'physicist',
 'pianist',
 'pilot',
 'plumber',
 'poet',
 'police officer',
 'politician',
 'postman',
 'producer',
 'professor',
 'prosecutor',
 'psychologist',
 'radiologist',
 'realtor',
 'receptionist',
 'researcher',
 'salesperson',
 'scientist',
 'secretary',
 'security guard',
 'servant',
 'sheriff',
 'singer',
 'sociologist',
 'software engineer',
 'soldier',
 'supervisor',
 'surgeon',
 'swimmer',
 'tailor',
 'teacher',
 'tennis player',
 'theologian',
 'umpire']

In [214]:
occurence, sentence = count_entity(gomu_occupations, mnli_data)

In [215]:
occupation_mnli_occurence = sorted(occurence.items(), key=(lambda x:x[1]), reverse=True)
json.dump(occupation_mnli_occurence, open("occupation_mnli_occurence.json", 'w'))
with open("occupation_mnli_sentence.txt", 'w') as f:
    for sent in sentence:
        f.write(f"{sent}\n")

In [216]:
occupation_mnli_occurence

[('actor', 2631),
 ('author', 2442),
 ('arts', 2203),
 ('model', 2101),
 ('employee', 1970),
 ('lawyer', 1868),
 ('executive', 1511),
 ('civil', 1500),
 ('architect', 1453),
 ('delivery', 1342),
 ('manager', 1228),
 ('artist', 1167),
 ('judge', 993),
 ('auditor', 979),
 ('doctor', 930),
 ('cook', 921),
 ('guard', 908),
 ('director', 903),
 ('engineer', 828),
 ('editor', 707),
 ('employment', 687),
 ('army', 643),
 ('teacher', 630),
 ('soldier', 544),
 ('chief', 497),
 ('agent', 465),
 ('politician', 458),
 ('driver', 439),
 ('poet', 412),
 ('economist', 371),
 ('professor', 360),
 ('farmer', 348),
 ('journalist', 338),
 ('nurse', 327),
 ('dealer', 322),
 ('physician', 312),
 ('CEO', 300),
 ('researcher', 293),
 ('painter', 291),
 ('coach', 288),
 ('airman', 279),
 ('academic', 278),
 ('singer', 269),
 ('historian', 257),
 ('pilot', 241),
 ('grocer', 227),
 ('scientist', 213),
 ('secretary', 207),
 ('analyst', 201),
 ('assistant', 196),
 ('designer', 195),
 ('administrator', 193),
 ('servant', 191),
 ('mechanic', 189),
 ('supervisor', 186),
 ('producer', 179),
 ('prosecutor', 177),
 ('tailor', 161),
 ('musician', 150),
 ('diplomat', 148),
 ('landlord', 144),
 ('chemist', 141),
 ('detective', 132),
 ('athlete', 127),
 ('builder', 125),
 ('baker', 118),
 ('commander', 114),
 ('dancer', 114),
 ('entrepreneur', 114),
 ('photographer', 114),
 ('accountant', 101),
 ('broker', 98),
 ('drawer', 96),
 ('cleaner', 90),
 ('inspector', 89),
 ('gambler', 88),
 ('clerk', 85),
 ('police officer', 82),
 ('laborer', 78),
 ('psychologist', 76),
 ('composer', 72),
 ('banker', 69),
 ('surgeon', 69),
 ('chef', 63),
 ('attendant', 62),
 ('mathematician', 57),
 ('lawn mower', 56),
 ('janitor', 54),
 ('comedian', 53),
 ('astronomer', 52),
 ('butcher', 51),
 ('dentist', 51),
 ('linguist', 50),
 ('counselor', 49),
 ('groom', 46),
 ('carpenter', 45),
 ('swimmer', 45),
 ('barber', 43),
 ('butler', 42),
 ('boxer', 40),
 ('football player', 39),
 ('plumber', 39),
 ('magician', 37),
 ('sociologist', 37),
 ('firefighter', 26),
 ('lifeguard', 26),
 ('security guard', 26),
 ('physicist', 25),
 ('cleric', 24),
 ('theologian', 24),
 ('cashier', 19),
 ('electrician', 17),
 ('construction worker', 16),
 ('bartender', 15),
 ('hostess', 15),
 ('sheriff', 15),
 ('guitarist', 12),
 ('librarian', 12),
 ('medical student', 12),
 ('mover', 12),
 ('illustrator', 11),
 ('pianist', 10),
 ('pharmacist', 8),
 ('fireman', 7),
 ('housekeeper', 6),
 ('receptionist', 6),
 ('chess player', 5),
 ('office worker', 5),
 ('salesperson', 5),
 ('tennis player', 5),
 ('hairdresser', 4),
 ('opera singer', 4),
 ('software engineer', 4),
 ('radiologist', 3),
 ('handyman', 2),
 ('postman', 2),
 ('umpire', 1),
 ('aeronautical engineer', 0),
 ('attourney', 0),
 ('businessperson', 0),
 ('foster parent', 0),
 ('handball player', 0),
 ('pensioner', 0),
 ('performing artist', 0),
 ('realtor', 0)]

### 2. Count occupation in SNLI

In [217]:
occurence, sentence = count_entity(gomu_occupations, snli_data)

In [218]:
occupation_snli_occurence = sorted(occurence.items(), key=(lambda x:x[1]), reverse=True)
json.dump(occupation_snli_occurence, open("occupation_snli_occurence.json", 'w'))
with open("occupation_snli_sentence.txt", 'w') as f:
    for sent in sentence:
        f.write(f"{sent}\n")

In [219]:
occupation_snli_occurence

[('cook', 4484),
 ('construction worker', 2458),
 ('arts', 2321),
 ('musician', 2189),
 ('football player', 1802),
 ('dancer', 1516),
 ('artist', 1507),
 ('grocer', 1462),
 ('actor', 1310),
 ('photographer', 1215),
 ('guard', 1054),
 ('singer', 1043),
 ('athlete', 1019),
 ('chef', 1019),
 ('police officer', 1001),
 ('soldier', 968),
 ('driver', 877),
 ('groom', 844),
 ('teacher', 817),
 ('tennis player', 801),
 ('model', 790),
 ('swimmer', 761),
 ('guitarist', 679),
 ('doctor', 657),
 ('farmer', 647),
 ('firefighter', 527),
 ('employee', 505),
 ('coach', 452),
 ('army', 448),
 ('nurse', 374),
 ('barber', 360),
 ('mechanic', 341),
 ('boxer', 338),
 ('fireman', 298),
 ('scientist', 284),
 ('baker', 283),
 ('pilot', 267),
 ('auditor', 266),
 ('butcher', 263),
 ('painter', 248),
 ('umpire', 223),
 ('judge', 205),
 ('security guard', 186),
 ('cleaner', 182),
 ('chief', 181),
 ('bartender', 180),
 ('architect', 162),
 ('dentist', 160),
 ('lawn mower', 158),
 ('civil', 149),
 ('professor', 144),
 ('janitor', 143),
 ('cashier', 142),
 ('surgeon', 137),
 ('delivery', 125),
 ('agent', 118),
 ('clerk', 109),
 ('attendant', 106),
 ('author', 98),
 ('magician', 98),
 ('lifeguard', 97),
 ('director', 96),
 ('dealer', 88),
 ('carpenter', 77),
 ('designer', 74),
 ('manager', 73),
 ('chemist', 69),
 ('engineer', 69),
 ('assistant', 68),
 ('office worker', 63),
 ('airman', 62),
 ('comedian', 57),
 ('drawer', 56),
 ('lawyer', 55),
 ('librarian', 53),
 ('laborer', 52),
 ('politician', 52),
 ('executive', 51),
 ('electrician', 49),
 ('pianist', 49),
 ('inspector', 42),
 ('supervisor', 41),
 ('builder', 40),
 ('poet', 38),
 ('plumber', 32),
 ('tailor', 32),
 ('mover', 31),
 ('hairdresser', 27),
 ('researcher', 27),
 ('hostess', 23),
 ('employment', 21),
 ('CEO', 20),
 ('astronomer', 19),
 ('pharmacist', 19),
 ('realtor', 19),
 ('journalist', 17),
 ('detective', 16),
 ('accountant', 13),
 ('salesperson', 13),
 ('servant', 13),
 ('sheriff', 13),
 ('broker', 11),
 ('secretary', 11),
 ('receptionist', 10),
 ('banker', 9),
 ('chess player', 9),
 ('postman', 9),
 ('opera singer', 8),
 ('entrepreneur', 7),
 ('academic', 6),
 ('cleric', 6),
 ('handyman', 6),
 ('medical student', 6),
 ('counselor', 5),
 ('editor', 5),
 ('producer', 5),
 ('butler', 4),
 ('commander', 4),
 ('handball player', 4),
 ('housekeeper', 4),
 ('physician', 4),
 ('administrator', 3),
 ('analyst', 3),
 ('gambler', 3),
 ('historian', 3),
 ('psychologist', 3),
 ('composer', 2),
 ('pensioner', 2),
 ('businessperson', 1),
 ('diplomat', 1),
 ('foster parent', 1),
 ('landlord', 1),
 ('performing artist', 1),
 ('physicist', 1),
 ('prosecutor', 1),
 ('aeronautical engineer', 0),
 ('attourney', 0),
 ('economist', 0),
 ('illustrator', 0),
 ('linguist', 0),
 ('mathematician', 0),
 ('radiologist', 0),
 ('sociologist', 0),
 ('software engineer', 0),
 ('theologian', 0)]

### 3. Count occupation in MNLI + SNLI

In [222]:
nli_data = mnli_data + snli_data
len(nli_data)

942854

In [223]:
occurence, sentence = count_entity(gomu_occupations, nli_data)

In [224]:
occupation_occurence = sorted(occurence.items(), key=(lambda x:x[1]), reverse=True)
json.dump(occupation_occurence, open("occupation_occurence.json", 'w'))
with open("occupation_sentence.txt", 'w') as f:
    for sent in sentence:
        f.write(f"{sent}\n")

In [233]:
pd.DataFrame(occupation_occurence)

                         0     1
0    cook                   5405
1    arts                   4524
2    actor                  3941
3    model                  2891
4    artist                 2674
5    author                 2540
6    employee               2475
7    construction worker    2474
8    musician               2339
9    guard                  1962
10   lawyer                 1923
11   football player        1841
12   grocer                 1689
13   civil                  1649
14   dancer                 1630
15   architect              1615
16   doctor                 1587
17   executive              1562
18   soldier                1512
19   delivery               1467
20   teacher                1447
21   photographer           1329
22   driver                 1316
23   singer                 1312
24   manager                1301
25   auditor                1245
26   judge                  1198
27   athlete                1146
28   army                   1091
29   police officer         1083
30   chef                   1082
31   director               999
32   farmer                 995
33   engineer               897
34   groom                  890
35   swimmer                806
36   tennis player          806
37   coach                  740
38   editor                 712
39   employment             708
40   nurse                  701
41   guitarist              691
42   chief                  678
43   agent                  583
44   firefighter            553
45   painter                539
46   mechanic               530
47   politician             510
48   pilot                  508
49   professor              504
50   scientist              497
51   poet                   450
52   dealer                 410
53   barber                 403
54   baker                  401
55   boxer                  378
56   economist              371
57   journalist             355
58   airman                 341
59   CEO                    320
60   researcher             320
61   physician              316
62   butcher                314
63   fireman                305
64   academic               284
65   cleaner                272
66   designer               269
67   assistant              264
68   historian              260
69   supervisor             227
70   umpire                 224
71   secretary              218
72   lawn mower             214
73   security guard         212
74   dentist                211
75   chemist                210
76   surgeon                206
77   analyst                204
78   servant                204
79   janitor                197
80   administrator          196
81   bartender              195
82   clerk                  194
83   tailor                 193
84   producer               184
85   prosecutor             178
86   attendant              168
87   builder                165
88   cashier                161
89   drawer                 152
90   diplomat               149
91   detective              148
92   landlord               145
93   magician               135
94   inspector              131
95   laborer                130
96   lifeguard              123
97   carpenter              122
98   entrepreneur           121
99   commander              118
100  accountant             114
101  comedian               110
102  broker                 109
103  gambler                91
104  psychologist           79
105  banker                 78
106  composer               74
107  astronomer             71
108  plumber                71
109  office worker          68
110  electrician            66
111  librarian              65
112  pianist                59
113  mathematician          57
114  counselor              54
115  linguist               50
116  butler                 46
117  mover                  43
118  hostess                38
119  sociologist            37
120  hairdresser            31
121  cleric                 30
122  sheriff                28
123  pharmacist             27
124  physicist              26
125  theologian             24
126  realtor                19
127  medical student        18
128  salesperson            18
129  receptionist           16
130  chess player           14
131  opera singer           12
132  illustrator            11
133  postman                11
134  housekeeper            10
135  handyman               8
136  handball player        4
137  software engineer      4
138  radiologist            3
139  pensioner              2
140  businessperson         1
141  foster parent          1
142  performing artist      1
143  aeronautical engineer  0
144  attourney              0

# New occupations in NLI dataset

In [ ]:
def count_occupation(data, occupations):
    sents = []
    occs = {}
    for d in data:
        for o in occupations:
            if o in d:
                sents.append(d)
                occs[o] = occs.get(o, 0) + 1
    return occs, sents

In [ ]:
occupation_mnli_count, occupations_mnli_sent = count_occupation(mnli_data, total_occupations)
occupation_snli_count, occupations_snli_sent = count_occupation(mnli_data, total_occupations)

In [ ]:
occupation_mnli_count = sorted(occupation_mnli_count.items(), key=(lambda x:x[1]), reverse=True)
json.dump(occupation_mnli_count, open("new_mnli_occupation.json", 'w'))
with open("new_mnli_occupation_sent.txt", 'w') as f:
    for sent in sentence:
        f.write(f"{sent}\n")

In [ ]:
occupation_snli_count = sorted(occupation_snli_count.items(), key=(lambda x:x[1]), reverse=True)
json.dump(occupation_snli_count, open("new_snli_occupation.json", 'w'))
with open("new_snli_occupation_sent.txt", 'w') as f:
    for sent in sentence:
        f.write(f"{sent}\n")